<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.anonrec">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.general.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.general.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.general.MainActivity" />
        </activity>
        <activity android:name=".ui.general.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.general.HomePageActivity" />
        </activity>
        <activity android:name=".ui.general.HomePageActivity" />
        <activity android:name=".ui.meetings.MeetingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.general.HomePageActivity" />
        </activity>
        <activity android:name=".ui.meetups.MeetupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.general.HomePageActivity" />
        </activity>
        <activity android:name=".ui.messages.MessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.general.HomePageActivity" />
        </activity>
        <activity android:name=".ui.general.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.general.MainActivity" />
        </activity>
        <activity android:name=".ui.meetups.MeetupDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.meetups.MeetupActivity" />
        </activity>
        <activity android:name=".ui.meetups.SavedEventListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.meetups.MeetupActivity" />
        </activity>
        <activity android:name=".ui.meetings.MeetingListActivity" />
        <activity android:name=".ui.meetings.MeetingDetailActivity" />
        <activity android:name=".ui.messages.MessageCategoryActivity" />
        <activity android:name=".ui.messages.NewPostActivity" />
        <activity android:name=".ui.messages.MessageListActivity" />
        <activity android:name=".ui.messages.MessageDetailActivity"></activity>
    </application>

</manifest>